<!Doctypex HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>


  
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    
    
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="en-us" http-equiv="Content-Language">
<meta content="The official archive for the @MayorEmanuel Twitter account by @dansinker." name="description">
<meta content="width = 780" name="viewport">
    <title id="page_title">Quaxelrod.com: the official @MayorEmanuel archive.</title>
    <link href="/images/twitter_57.png" rel="apple-touch-icon">
<link href="http://twitter.com/oexchange.xrd" rel="http://oexchange.org/spec/0.8/rel/related-target" type="application/xrd+xml">
<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/css/quaxelrod.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/css/twitter.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/geo.css" media="screen" rel="stylesheet" type="text/css">
<link href="/css/buttons_new.css" media="screen" rel="stylesheet" type="text/css">
        
      <link href="/css/following.css" media="screen, projection" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  </head>
  
  <body class="account chrome chrome-windows signin-island" id="profile">    
  <div class="fixed-banners">    
    </div>
    <div id="dim-screen"></div>
    

    <div id="container" class="subpage">
            <span id="loader" style="display: none;"><img alt="Loader" src="/images/loader.gif"></span>
      
        <div class="clearfix" id="header">
 
              
  <div id="signin_controls">
  
</div>




            </div>


    <div id="profilebox_outer" class="home_page_new_home_page">
      <div id="profilebox" class="clearfix">
        <div id="profiletext">
          <h1>
            <span>Quaxelrod.com: the official @<a href="http://www.twitter.com/MayorEmanuel/">MayorEmanuel</a> archive.</span>
          </h1>

          <p id="intro">@MayorEmanuel was a satirical Twitter account that turned the 2011 Chicago Mayoral Election into real-time literature. 
          From making snow angels on the frozen ice of Lake Michigan, to dancing with the ghost of Curtis Mayfield, to its emotional 
          climax at the edge of space-time itself, the Tweets of @MayorEmanuel offered a highly profane, 
          hilariously surreal--and, at times oddly moving--look at this historic election, this larger-than-life persona, 
            redemption, sacrifice, and the lasting bonds of both friendship and civic pride. This archive offers the original 
            Tweets in chronological order and with contextual @replies where possible. <b>Tweets authored by <a href="http://www.twitter.com/dansinker">@dansinker</a></b>.</p>
        </div>
          
      </div>
    </div>
    

      
      

      <div class="content-bubble-arrow"></div>
      
      
      
        <table class="columns" cellspacing="0">
          <tbody>
            <tr>
              <td id="content" class="round-left column">
                                <div class="wrapper">
                  
                  


  




  


  <div id="similar_to_followed"></div>

<div class="section">

  <div id="timeline_heading" style="display: none;">
    <h1 id="heading"></h1>
  </div>
<ol id="timeline" class="statuses" id="statuses">
  <li><img src="/images/loading.gif" />

</ol>

  <div id="pagination"></div>

</div>





                </div>
                              </td>
              
                <td id="side_base" class="column round-right">
                                  
                  <div id="side">
                      
<div id="profile" class="section profile-side">
  <span class="section-links">
      </span>
  <address>
    </address><ul class="about vcard entry-author">
      
      
      
        <li><span class="label">Name</span> <span class="fn">Rahm Emanuel</span></li>
                  <li><span class="label">Location</span> <span class="adr">Chicago, IL</span></li>
                                  <li id="bio"><span class="label">Bio</span> <span class="bio">Your next motherfucking mayor. Get used to it, assholes.</span></li>
              
    </ul>
  
        


<div class="stats">
  <table>
    <tbody><tr>
      <td>
      
        

<a href="http://twitter.com/MayorEmanuel/following" id="following_count_link" class="link-following_page" rel="me" title="See who MayorEmanuel is following">
  <span id="following_count" class="stats_count numeric">0 </span>
  <span class="label">Following</span>
</a>


      </td>
      <td>

<a href="http://twitter.com/MayorEmanuel/followers" id="follower_count_link" class="link-followers_page" rel="me" title="See who's following MayorEmanuel">
  <span id="follower_count" class="stats_count numeric">38,705 </span>
  <span class="label">Followers</span>
</a>

</td>
              <td>

<a href="http://twitter.com/MayorEmanuel/lists/memberships" id="lists_count_link" class="link-lists_page" rel="me" title="See which lists MayorEmanuel is on">
  <span id="lists_count" class="stats_count numeric">1,044 </span>
  <span class="label">Listed</span>
</a>

</td>
          </tr>
  </tbody></table>
  
</div>
  
</div>

  <ul id="primary_nav" class="sidebar-menu">
    <li class="active" id="profile_tab"><a href="http://twitter.com/MayorEmanuel" accesskey="u"><span id="update_count" class="stat_count">1,954</span><span>Tweets</span></a></li>
  </ul>


     
  </div>
  
</div>

        <!-- BEGIN press and info area -->
        <ul class="press">
        <li><b>Selected Press</b></li>
        <li><a href="http://www.theatlantic.com/technology/archive/2011/02/revealing-the-man-behind-mayoremanuel/71802/">The Atlantic</a></li>
        <li><a href="http://www.wired.com/epicenter/2011/02/chicago-punk-rock/">Wired</a></li>
        <li><a href="http://www.esquire.com/the-side/qa/fake-rahm-emanuel-twitter-5323163">Esquire</a></li>
        <li><a href="http://www.politico.com/news/stories/0111/48260.html">Politico</a>
        <li><a href="http://articles.chicagotribune.com/2011-02-02/entertainment/ct-live-0203-at-mayoremanuel-20110202_1_expletive-mayoremanuel-rahm-emanuel">Chicago Tribune</a>
        </ul>
        <!-- END press and info area-->
  </div>





  <div id="rssfeed">
  </div>




                  </div>
                                </td>
              
            </tr>
          </tbody>
        </table>
      

      
  <div id="footer" class="round">
      <h3 class="offscreen">Footer</h3>
      This archive was originally created on February 25, 2011, by <a href="http://www.elsewhere.org/">Communications from Elsewhere</a>.
  </div>



      <hr>

    </div>
    <script>
$(document).ready(function() {
    // put all your jQuery goodness in here.
$.get('/g', function(data) {
  $('.statuses').html(data);
});
    
});


    </script>


        <!-- BEGIN google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21857820-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  <!-- END google analytics -->






    

    

  </body></html>
